/* Colores */
$bg-login: #24323d;
$green: #1ab188;
$gray: #435359;
$white: #fff;
$white-gray: #fbfbfb;
$red: rgb(241, 95, 95);
$azul: #368bfb;
$azul-dark: #091751;
$azul-light: #6ba9fa;
$purple: #b4a7d6;
$gray-light: #c7c8c8;
